<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CheckoutAgreements\Block\Adminhtml\Agreement\Edit\Form" type="Jh\CoreBugCheckoutAgreements\Block\Adminhtml\Agreement\Edit\Form" />
</config>
